<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "./components/head.njk" %}
    </head>
    <html>
    <body>
        {% include "./components/header2.njk" %}
        <section id="contacts">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrapper">
                            <p>We are always in touch and will answer all your questions!</p>
                            <div class="wrapper__first">
                                <div class="wrapper__second">
                                    <div class="item">
                                        <div class="img">
                                            <img src="../img/cellphone.png">
                                        </div>
                                        <div class="item__text">
                                            <h5>Telephones</h5>
                                            <p>In Kazakhstan  8 (123) 12-123-123<br>
                                                In Russia    8 (495) 12-123-123</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="img">
                                            <img src="../img/sobachka.png">
                                        </div>
                                        <div class="item__text">
                                            <h5>E-mail</h5>
                                            <p>info@sitename.ru</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="img">
                                            <img src="../img/skype.png">
                                        </div>
                                        <div class="item__text">
                                            <h5>Skype</h5>
                                            <p>skypename</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form">
                                    <h3>Do you have questions <br> <span>about moving to KZ?</span></h3>
                                    <p>We will advise <br> You for free</p>
                                    <form>
                                        <div class="form__item">
                                            <input type="text" name="name" placeholder="Name" required id="name">
                                        </div>
                                        <div class="form__item">
                                            <input type="text" name="email" placeholder="E-mail" required id="email">
                                        </div>
                                        <div class="form__item">
                                            <input type="tel" name="tel" placeholder="Nubmer" required id="tel">
                                        </div>
                                        <div class="form__button">
                                            <button type="submit">Order a consultation</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "./components/footer.njk" %}
    </body>
</html>
