<!DOCTYPE html>
<html lang="en">
<head>
    {% include "./components/head.njk" %}
</head>
<body>
    {% include "./components/header.njk" %}
    <section id="advantages">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Our advantages</h2>
                </div>
                <div class="col-md-4 col-sm-6" >
                    <div class="wrapper">
                        <div class="image">
                            <img src="../img/handshake.png">
                        </div>
                        <h3>Reliability</h3>
                        <p>We will always come to your aid in solving the most controversial issues.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="wrapper">
                        <div class="image">
                            <img src="../img/blocknote.png">
                        </div>
                        <h3>Credibility</h3>
                        <p>
                            Credibility is the main principle of our work. We know all the intricacies of moving
                            to Bulgaria and preparing the relevant documents</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="wrapper">
                        <div class="image">
                            <img src="../img/people.png">
                        </div>
                        <h3>Competence</h3>
                        <p>Our experts with extensive experience will help you understand all the legal
                            intricacies of moving for permanent residence in Bulgaria</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="moving">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="statement">
                        <h2>Tour in Kazakhstan</h2>
                        <p class="opacity">«If you do not like the place where you are - <br>
                            change it, you are not a tree» <br></p>
                        <p class="default">Jim Rohn</p>
                    </div>
                    <div class="block">
                        <img class="upper" src="../img/lilarrow.png">
                        <img class="bottom" src="../img/lilarrow.png">
                        <p class="opacity">the time has come and you have a question</p>
                        <p class="default">How to have a tour in Kazakhstan?</p>
                    </div>
                    <div class="answer">
                        <h2>We know the answer</h2>
                        <p>We will select the best option for you and offer the best conditions!</p>
                    </div>
                    <div class="button">
                        <a href="#">To learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="merits">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Real estate and transportation services</h2>
                    <div class="wrapper__first">
                        <img class="picture__first" src="../img/picture1.png">
                        <img class="picture__second" src="../img/picture2.png">
                        <img class="picture__third" src="../img/picture3.png">
                        <img class="circle" src="../img/circle.png">
                        <h4>Dreaming of a house in the center of Astana?</h4>
                        <p>
                            Or do you want to profitably invest in overseas property? In any case - suitable
                            the option is already waiting for you! Large selection of residential and commercial real estate and
                            professional service will allow you to make a deal with pleasure and get the desired result
                        </p>
                    </div>
                    <div class="wrapper__second">
                        <p>
                            If your suitcases are already packed and you are ready to move, we are glad to offer you transport
                            services for the transportation of personal belongings to Bulgaria. For successful placement in a new location
                            residence, we will help to transfer your belongings safely
                        </p>
                    </div>
                    <div class="button">
                        <a href="#">To learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="reviews">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Feedback from our clients</h2>
                    <div class="wrapper">
                        <img class="girl" src="../img/girl.png">
                        <a href="#">
                            <img class="left__arrow" src="../img/arrowleft.png">
                        </a>
                        <a href="#">
                            <img class="right__arrow" src="../img/arrowright.png">
                        </a>
                        <div class="wrapper__tittle">
                            <h4>Diana Mellison</h4>
                            <a href="#">vk.com/mellison</a>
                            <p>Berlin → Astana</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in</p>
                    </div>
                    <div class="image__circle">
                        <img src="../img/circle1.png">
                        <img src="../img/circle2.png">
                        <img src="../img/circle3.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="questions">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Do u have questions <br> on moving to Kazakhstan?</h2>
                    <p>We will advise <br> You for free!</p>
                    <a href="#">
                        <img src="../img/footerarrow.png">
                    </a>
                    <form>
                        <label>
                            <input type="text" placeholder="Имя" class="input">
                        </label>
                        <label>
                            <input type="email" placeholder="E-mail" class="input">
                        </label>
                        <label>
                            <input type="tel" placeholder="Телефон" class="input">
                        </label>
                        <button type="submit" class="act">Order a consultation</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% include "./components/footer.njk" %}
</body>
</html>