<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "./components/head.njk" %}
</head>
    <body>
        <section id="header">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-6 col-xs-9">
                            <a href="#">
                                <img src="../img/logo.png">
                            </a>
                        </div>
                        <div class="col-md-7 col-lg-7">
                            <nav class="hidden-sm hidden-xs">
                                <ul class="menu">
                                    <li class="menu__item">
                                        <a href="index.html">
                                            The main
                                        </a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="about.html">
                                            About company
                                        </a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="#">
                                            Tour in Kazakhstan
                                        </a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="move.html">
                                            Real estate and moving
                                        </a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="contacts.html">
                                            Contacts
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-3 col-sm-6 hidden-xs ">
                            <div class="contacts">
                                <div class="contacts__img">
                                    <a href="#">
                                        <img src="../img/phone.png">
                                    </a>
                                </div>
                                <div class="contacts__phone">
                                    +7 (778) 438-32-10
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-xs-1
                         col-xs-offset-1 col-sm-offset-0 hidden-md hidden-lg">
                            <a href="#">
                                <div class="burger">
                                    <div class="block"></div>
                                    <div class="block"></div>
                                    <div class="block"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="first__screen">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Real estate and moving</h1>
                            <a href="#">
                                <img src="../img/arrowheader.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="move">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrapper">
                            <p>After the legal issues with a residence permit in Bulgaria are resolved,
                                the main task becomes
                                <span>find a new house or apartment and organize the transportation of things</span>
                            </p>
                            <div class="block">
                                <div class="img">
                                    <img src="../img/house.png">
                                </div>
                                <div class="text">
                                    We will select the best options for your new life and suitable for the price
                                    category - whether it is a studio apartment for a young couple, or a luxury house
                                    on the coast for a large family.
                                </div>
                            </div>
                            <div class="block">
                                <div class="text__second">
                                    When moving to another country, the question always arises - how to transport
                                    all your belongings? We are ready to help you with the transportation of personal
                                    belongings from the Russian Federation to Bulgaria. Extensive experience in
                                    transporting things will help you avoid unnecessary costs and choose only reliable
                                    and tidy transport companies, which guarantees the safety of your property.
                                </div>
                                <div class="img__second">
                                    <img src="../img/boxes.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="questions">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Do you have questions<br> about moving to Kazakhstan?</h2>
                        <p>We will advise <br> You for free!</p>
                        <a href="#">
                            <img src="../img/footerarrow.png">
                        </a>
                        <form>
                            <label>
                                <input type="text" placeholder="Name" class="input">
                            </label>
                            <label>
                                <input type="email" placeholder="E-mail" class="input">
                            </label>
                            <label>
                                <input type="tel" placeholder="Number" class="input">
                            </label>
                            <button type="submit" class="act">Order a consultation</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {% include "./components/footer.njk" %}
    </body>
</html>