<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <a href="#">
                    <img src="../img/logofooter.png">
                </a>
            </div>
            <div class="col-md-3 col-xs-6">
                <p>2016 / Все права защищены</p>
            </div>
            <div class="col-md-3">
                <a class="politik" href="#">Политика конфиденциальности</a>
            </div>
            <div class="col-md-3">
                <div class="contacts">
                    <div class="contacts__img">
                        <a href="#">
                            <img src="../img/phonefooter.png">
                        </a>
                    </div>
                    <div class="contacts__phone">
                        +7 (495) 12-321-345 <br>
                        +7 (495) 12-321-345
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>