<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <a href="#">
                    <img src="../img/logofooter.png">
                </a>
            </div>
            <div class="col-md-3 col-xs-6">
                <p>2016 / All rights reserved</p>
            </div>
            <div class="col-md-3">
                <a class="politik" href="#">Privacy Policy</a>
            </div>
            <div class="col-md-3">
                <div class="contacts">
                    <div class="contacts__img">
                        <a href="#">
                            <img src="../img/phonefooter.png">
                        </a>
                    </div>
                    <div class="contacts__phone">
                        +7 (778) 438-32-10 <br>
                        +7 (778) 438-32-10
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script>
    $('.header__arrow').on('click', function () {
        $("html, body").animate({ scrollTop: $('#advantages').offset().top }, 1000);
    });

    $('#reviews .slider').slick({
        dots: true,
        // centerMode: true,
    });
</script>
